


div.pure-g.navbar.h-box {
	background-color: #bc5151 !important;
	width: 119% !important;
	border: 3px solid #773232 !important;
	margin-top: -2px;
	margin-left: -10%;
	position: relative;
	z-index: 9999;
	padding: 5px;
}

.searchbar .pure-form input[type="search"] {background-color: #914141 !important;
padding: 10px !important;
border: 2px solid #773838 !important;}

.searchbar .pure-form input[type="search"]:focus {border-bottom: 2px solid #442525 !important;}


a.index-link.pure-menu-heading {    background-image: url('https://www.tromsite.com/wp-content/uploads/2021/02/trom.tf-big-white-black-tf.png') !important;
    background-size: 180px 50px !important;
    width: 180px !important;
    font-size: 0px !important;
    height: 8px !important;
    display: block !important;
    margin-left: 23px;
    background-repeat: no-repeat;
}


.dark-theme a:hover, .dark-theme a:active, .dark-theme summary:hover {
	color: rgb(188, 81, 81);
}

.user-field div:not(:last-child):hover {background-color: #773232;}
div.pure-u-1-3>a.pure-menu-heading:hover {background-color: #773232}

.feed-menu {margin-bottom: 50px !important;}

div.pure-u-1.pure-u-md-1-4>div.h-box {background-color: #202020;
padding: 20px; margin: 10px;}

div.pure-u-1.pure-u-md-1-4>div.h-box>a>p {color: #fff !important;
font-weight: 600;}

body.dark-theme {background: url('https://www.tromsite.com/wp-content/uploads/2018/09/tromsite-bg-pattern.png') !important;}


.video-card-row {	opacity: 0.5  !important;}

div.pure-u-1.pure-u-md-1-4>div.h-box:hover {opacity:0.7 !important;}
hr {display:none !important;}
div.pure-g.h-box>dive.pure-u-1-3>div.pure-g {text-align: center !important;
margin-left: -200% !important;}

#player-container {
width: 100%;
margin-left: -10%;
background-color: #000;
padding-left: 10%;
padding-right: 10%;
margin-bottom: 30px;
border-bottom: 3px solid #bc5151;
margin-top: -15px;
}

.video-js .vjs-big-play-button
{margin-left: 45%;
margin-top: 20%;
width: 10%;
height: 13%;
border: 2px solid;
border-radius: 11px;
}

.video-js .vjs-big-play-button {font-size: 6em;}

.video-js .vjs-slider:hover, .video-js button:hover {
	color: rgb(188, 81, 81);
}


div.pure-g>div.pure-u-1.pure-u-lg-3-5 {   
    padding-top: 15px;
}

div#contents.pure-u-1.pure-u-md-20-24>div.h-box>h1 {text-align: center !important;
margin-bottom: 40px !important;}

#watch-on-youtube {padding: 10px !important;
background-color: #202020 !important;
color: #fff !important;
border-radius: 4px !important;
border: 1px solid #000 !important;
margin-bottom: 10px !important;
display: block !important;}

#watch-on-another-invidious-instance {padding: 10px !important;
background-color: #202020 !important;
color: #fff !important;
border-radius: 4px !important;
border: 1px solid #000 !important;
margin-bottom: 10px !important;
display: block !important;}

#embed-link {padding: 10px !important;
background-color: #202020 !important;
color: #fff !important;
border-radius: 4px !important;
border: 1px solid #000 !important;
margin-bottom: 10px !important;
display: block !important;}

#annotations {padding: 10px !important;
background-color: #202020 !important;
color: #fff !important;
border-radius: 4px !important;
border: 1px solid #000 !important;
margin-bottom: 10px !important;
display: block !important;}

select#download_widget {    width: 100% !important;
    background-color: #202020 !important;
    border: 1px solid #000 !important;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

form.pure-form.pure-form-stacked {margin-top: 30px !important;}

form.pure-form.pure-form-stacked>button.pure-button.pure-button-primary {width:100% !important;}

button.pure-button-primary, body a.pure-button-primary, .channel-owner {
	background-color: #bc5151 !important;
	color: rgb(255, 255, 255) !important;}

#views {margin-top: 50px;}

div.h-box>div>div.pure-control-group {padding: 20px !important;text-align: center !important; margin-bottom:20px !important;}
div.pure-u-1.pure-u-lg-1-5>div.h-box>h5.pure-g {margin-bottom: 70px !important;}

div#description-box {padding: 20px !important;
margin-bottom: 50px !important;
background-color: #202020 !important;}

div#contents.pure-u-1.pure-u-md-20-24>div.h-box>img {width: 122.3% !important;
margin-left: -11% !important;
margin-top: -16px !important;
margin-bottom: -77px !important;
border-bottom: 2px #bc5151 solid !important;
}

#descriptionWrapper {
	max-width: 100% !important;
}

i.icon.ion-logo-rss {font-size: 30px;
background-color: #bc5151;
padding: 7px 20px 7px 20px;
color: #fff;
border-radius: 6px;
display: inline-block;}

i.icon.ion-logo-rss:hover {opacity:0.5;}

#filters {
	padding: 10px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	border-radius: 5px !important;
	z-index: 9 !important;
margin-bottom: 30px !important;
}

#filters > summary {
	margin-bottom: -4px !important;
padding: 10px;
margin-left: -10px;
margin-right: -10px;
text-align: center;
}




div.pure-g.h-box.v-box>div.pure-u-1.pure-u-lg-1-5>a:hover {opacity:0.6 !important;}
div.pure-g.h-box>div.pure-u-1.pure-u-lg-1-5>a:hover {opacity:0.6 !important;}


div.pure-g.h-box>div.pure-u-1.pure-u-lg-1-5>a {background-color: #bc5151 !important;
padding: 15px !important;
color: #fff !important;
text-transform: uppercase !important;
font-weight: 600 !important;
border-radius: 5px !important;
margin-top: 20px !important;
display: inline-block !important;
margin-bottom: 100px;}

div.pure-g.h-box.v-box>div.pure-u-1.pure-u-lg-1-5>a {background-color: #bc5151 !important;
padding: 15px !important;
color: #fff !important;
text-transform: uppercase !important;
font-weight: 600 !important;
border-radius: 5px !important;
margin-top: 20px !important;
display: inline-block !important;
margin-bottom: 10px !important;}

#comments {background-color: #202020  !important;
padding: 20px  !important;}
form.pure-form.pure-form-stacked {
	padding: 20px !important;
	background-color: #202020 !important;
}

input.pure-input-1 {background-color: #000 !important;
color: #fff !important;
border: 1px solid #393939 !important;
box-shadow: none !important;
border-radius: 0px !important;}

form.pure-form.pure-form-aligned { 
    padding: 40px;
    background-color: #202020;
}


.pure-form legend {border-bottom: 1px solid #403d3d;
margin-bottom: 20px;
margin-top: 20px;}



#speed {background-color: #bc5151 !important;
color: rgb(255, 255, 255) !important;
border: 1px #914141 solid;
box-shadow: none !important;}


#speed {background-color: #bc5151 !important;
color: rgb(255, 255, 255) !important;
border: 1px #914141 solid;
box-shadow: none !important;}

#speed {background-color: #bc5151 !important;
color: rgb(255, 255, 255) !important;
border: 1px #914141 solid;
box-shadow: none !important;}

#quality {background-color: #bc5151 !important;
color: rgb(255, 255, 255) !important;
border: 1px #914141 solid;
box-shadow: none !important;}

#quality_dash {background-color: #bc5151 !important;
color: rgb(255, 255, 255) !important;
border: 1px #914141 solid;
box-shadow: none !important;}

.pure-form-aligned .pure-help-inline, .pure-form-aligned input, .pure-form-aligned select, .pure-form-aligned textarea, .pure-form-message-inline
{background-color: #bc5151 !important;
color: rgb(255, 255, 255) !important;
border: 1px #914141 solid;
box-shadow: none !important;}

div.pure-g.h-box>div.pure-u-2-3 {margin-top: 100px !important;}

.dark-theme .pure-menu-heading {padding-top: 19px;
padding-bottom: 19px;
padding-right: 20px;
padding-left: 20px;
margin-top: -10px;
margin-bottom: -10px;}

a#toggle_theme.pure-menu-heading {display:none !important;}
select#playlist_id {width: 100% !important;
background-color: #202020 !important;
border: 1px solid #000 !important;
color: #fff !important;
box-shadow: none !important;
border-radius: 5px !important;}

.pure-button {background-color: #bc5151;
color: #fff;}

div.pure-g.h-box>div.pure-u-1-3>h3>a {padding: 20px !important;
background-color: #202020 !important;
text-align: center !important;
border-radius: 5px !important;
width: 80% !important;
margin-left: 10% !important;
display: inline-block;
margin-top: 90px;}
